<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEacute</key>
	<string>A_E_acute.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslashacute</key>
	<string>O_slashacute.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scircumflex</key>
	<string>S_circumflex.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cedilla.cap</key>
	<string>cedilla.cap.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>dvA</key>
	<string>dvA_.glif</string>
	<key>dvAA</key>
	<string>dvA_A_.glif</string>
	<key>dvAI</key>
	<string>dvA_I_.glif</string>
	<key>dvAU</key>
	<string>dvA_U_.glif</string>
	<key>dvAbbreviationSign</key>
	<string>dvA_bbreviationS_ign.glif</string>
	<key>dvAcandra</key>
	<string>dvA_candra.glif</string>
	<key>dvAcute</key>
	<string>dvA_cute.glif</string>
	<key>dvAnusvara</key>
	<string>dvA_nusvara.glif</string>
	<key>dvAnusvara.aMatraI</key>
	<string>dvA_nusvara.aM_atraI_.glif</string>
	<key>dvAvagraha</key>
	<string>dvA_vagraha.glif</string>
	<key>dvB</key>
	<string>dvB_.glif</string>
	<key>dvBA</key>
	<string>dvB_A_.glif</string>
	<key>dvBH</key>
	<string>dvB_H_.glif</string>
	<key>dvBHA</key>
	<string>dvB_H_A_.glif</string>
	<key>dvBH_LA</key>
	<string>dvB_H__L_A_.glif</string>
	<key>dvBH_NA</key>
	<string>dvB_H__N_A_.glif</string>
	<key>dvBH_R</key>
	<string>dvB_H__R_.glif</string>
	<key>dvBH_RA</key>
	<string>dvB_H__R_A_.glif</string>
	<key>dvBH_R_YA</key>
	<string>dvB_H__R__Y_A_.glif</string>
	<key>dvBH_VA</key>
	<string>dvB_H__V_A_.glif</string>
	<key>dvBH_YA</key>
	<string>dvB_H__Y_A_.glif</string>
	<key>dvB_BA</key>
	<string>dvB__B_A_.glif</string>
	<key>dvB_BHA</key>
	<string>dvB__B_H_A_.glif</string>
	<key>dvB_BH_RA</key>
	<string>dvB__B_H__R_A_.glif</string>
	<key>dvB_DA</key>
	<string>dvB__D_A_.glif</string>
	<key>dvB_DHA</key>
	<string>dvB__D_H_A_.glif</string>
	<key>dvB_DH_VA</key>
	<string>dvB__D_H__V_A_.glif</string>
	<key>dvB_JA</key>
	<string>dvB__J_A_.glif</string>
	<key>dvB_JA_Nukta</key>
	<string>dvB__J_A__N_ukta.glif</string>
	<key>dvB_JHA</key>
	<string>dvB__J_H_A_.glif</string>
	<key>dvB_J_YA</key>
	<string>dvB__J__Y_A_.glif</string>
	<key>dvB_LA</key>
	<string>dvB__L_A_.glif</string>
	<key>dvB_L_YA</key>
	<string>dvB__L__Y_A_.glif</string>
	<key>dvB_NA</key>
	<string>dvB__N_A_.glif</string>
	<key>dvB_R</key>
	<string>dvB__R_.glif</string>
	<key>dvB_RA</key>
	<string>dvB__R_A_.glif</string>
	<key>dvB_SA</key>
	<string>dvB__S_A_.glif</string>
	<key>dvB_SHA</key>
	<string>dvB__S_H_A_.glif</string>
	<key>dvB_TA</key>
	<string>dvB__T_A_.glif</string>
	<key>dvB_VA</key>
	<string>dvB__V_A_.glif</string>
	<key>dvB_YA</key>
	<string>dvB__Y_A_.glif</string>
	<key>dvC</key>
	<string>dvC_.glif</string>
	<key>dvCA</key>
	<string>dvC_A_.glif</string>
	<key>dvCH</key>
	<string>dvC_H_.glif</string>
	<key>dvCHA</key>
	<string>dvC_H_A_.glif</string>
	<key>dvCH_NA</key>
	<string>dvC_H__N_A_.glif</string>
	<key>dvCH_RA</key>
	<string>dvC_H__R_A_.glif</string>
	<key>dvCH_R_YA</key>
	<string>dvC_H__R__Y_A_.glif</string>
	<key>dvCH_VA</key>
	<string>dvC_H__V_A_.glif</string>
	<key>dvCH_YA</key>
	<string>dvC_H__Y_A_.glif</string>
	<key>dvC_CA</key>
	<string>dvC__C_A_.glif</string>
	<key>dvC_CHA</key>
	<string>dvC__C_H_A_.glif</string>
	<key>dvC_CH_VA</key>
	<string>dvC__C_H__V_A_.glif</string>
	<key>dvC_MA</key>
	<string>dvC__M_A_.glif</string>
	<key>dvC_NA</key>
	<string>dvC__N_A_.glif</string>
	<key>dvC_R</key>
	<string>dvC__R_.glif</string>
	<key>dvC_RA</key>
	<string>dvC__R_A_.glif</string>
	<key>dvC_YA</key>
	<string>dvC__Y_A_.glif</string>
	<key>dvCandrabindu</key>
	<string>dvC_andrabindu.glif</string>
	<key>dvD</key>
	<string>dvD_.glif</string>
	<key>dvDA</key>
	<string>dvD_A_.glif</string>
	<key>dvDA_MatraVocalicR</key>
	<string>dvD_A__M_atraV_ocalicR_.glif</string>
	<key>dvDD</key>
	<string>dvD_D_.glif</string>
	<key>dvDDA</key>
	<string>dvD_D_A_.glif</string>
	<key>dvDDA_Nukta</key>
	<string>dvD_D_A__N_ukta.glif</string>
	<key>dvDDH</key>
	<string>dvD_D_H_.glif</string>
	<key>dvDDHA</key>
	<string>dvD_D_H_A_.glif</string>
	<key>dvDDHA_Nukta</key>
	<string>dvD_D_H_A__N_ukta.glif</string>
	<key>dvDDH_DDHA</key>
	<string>dvD_D_H__D_D_H_A_.glif</string>
	<key>dvDDH_Nukta_RA</key>
	<string>dvD_D_H__N_ukta_R_A_.glif</string>
	<key>dvDDH_R</key>
	<string>dvD_D_H__R_.glif</string>
	<key>dvDDH_RA</key>
	<string>dvD_D_H__R_A_.glif</string>
	<key>dvDDH_YA</key>
	<string>dvD_D_H__Y_A_.glif</string>
	<key>dvDD_DDA</key>
	<string>dvD_D__D_D_A_.glif</string>
	<key>dvDD_DDHA</key>
	<string>dvD_D__D_D_H_A_.glif</string>
	<key>dvDD_GA</key>
	<string>dvD_D__G_A_.glif</string>
	<key>dvDD_NA</key>
	<string>dvD_D__N_A_.glif</string>
	<key>dvDD_Nukta_RA</key>
	<string>dvD_D__N_ukta_R_A_.glif</string>
	<key>dvDD_R</key>
	<string>dvD_D__R_.glif</string>
	<key>dvDD_RA</key>
	<string>dvD_D__R_A_.glif</string>
	<key>dvDD_VA</key>
	<string>dvD_D__V_A_.glif</string>
	<key>dvDD_YA</key>
	<string>dvD_D__Y_A_.glif</string>
	<key>dvDH</key>
	<string>dvD_H_.glif</string>
	<key>dvDHA</key>
	<string>dvD_H_A_.glif</string>
	<key>dvDH_MA</key>
	<string>dvD_H__M_A_.glif</string>
	<key>dvDH_NA</key>
	<string>dvD_H__N_A_.glif</string>
	<key>dvDH_N_YA</key>
	<string>dvD_H__N__Y_A_.glif</string>
	<key>dvDH_R</key>
	<string>dvD_H__R_.glif</string>
	<key>dvDH_RA</key>
	<string>dvD_H__R_A_.glif</string>
	<key>dvDH_VA</key>
	<string>dvD_H__V_A_.glif</string>
	<key>dvDH_YA</key>
	<string>dvD_H__Y_A_.glif</string>
	<key>dvD_BA</key>
	<string>dvD__B_A_.glif</string>
	<key>dvD_BHA</key>
	<string>dvD__B_H_A_.glif</string>
	<key>dvD_B_RA</key>
	<string>dvD__B__R_A_.glif</string>
	<key>dvD_DA</key>
	<string>dvD__D_A_.glif</string>
	<key>dvD_DHA</key>
	<string>dvD__D_H_A_.glif</string>
	<key>dvD_GA</key>
	<string>dvD__G_A_.glif</string>
	<key>dvD_GHA</key>
	<string>dvD__G_H_A_.glif</string>
	<key>dvD_G_RA</key>
	<string>dvD__G__R_A_.glif</string>
	<key>dvD_MA</key>
	<string>dvD__M_A_.glif</string>
	<key>dvD_NA</key>
	<string>dvD__N_A_.glif</string>
	<key>dvD_R</key>
	<string>dvD__R_.glif</string>
	<key>dvD_RA</key>
	<string>dvD__R_A_.glif</string>
	<key>dvD_VA</key>
	<string>dvD__V_A_.glif</string>
	<key>dvD_YA</key>
	<string>dvD__Y_A_.glif</string>
	<key>dvD_Y_BHA</key>
	<string>dvD__Y__B_H_A_.glif</string>
	<key>dvD_Y_RA</key>
	<string>dvD__Y__R_A_.glif</string>
	<key>dvDanda</key>
	<string>dvD_anda.glif</string>
	<key>dvDoubleDanda</key>
	<string>dvD_oubleD_anda.glif</string>
	<key>dvE</key>
	<string>dvE_.glif</string>
	<key>dvEcandra</key>
	<string>dvE_candra.glif</string>
	<key>dvEight</key>
	<string>dvE_ight.glif</string>
	<key>dvEshort</key>
	<string>dvE_short.glif</string>
	<key>dvEyelash</key>
	<string>dvE_yelash.glif</string>
	<key>dvEyelash_HA</key>
	<string>dvE_yelash_H_A_.glif</string>
	<key>dvEyelash_YA</key>
	<string>dvE_yelash_Y_A_.glif</string>
	<key>dvFour</key>
	<string>dvF_our.glif</string>
	<key>dvG</key>
	<string>dvG_.glif</string>
	<key>dvGA</key>
	<string>dvG_A_.glif</string>
	<key>dvGA_Nukta</key>
	<string>dvG_A__N_ukta.glif</string>
	<key>dvGH</key>
	<string>dvG_H_.glif</string>
	<key>dvGHA</key>
	<string>dvG_H_A_.glif</string>
	<key>dvGH_MA</key>
	<string>dvG_H__M_A_.glif</string>
	<key>dvGH_NA</key>
	<string>dvG_H__N_A_.glif</string>
	<key>dvGH_R</key>
	<string>dvG_H__R_.glif</string>
	<key>dvGH_RA</key>
	<string>dvG_H__R_A_.glif</string>
	<key>dvGH_YA</key>
	<string>dvG_H__Y_A_.glif</string>
	<key>dvG_BA</key>
	<string>dvG__B_A_.glif</string>
	<key>dvG_BHA</key>
	<string>dvG__B_H_A_.glif</string>
	<key>dvG_BH_YA</key>
	<string>dvG__B_H__Y_A_.glif</string>
	<key>dvG_DA</key>
	<string>dvG__D_A_.glif</string>
	<key>dvG_DHA</key>
	<string>dvG__D_H_A_.glif</string>
	<key>dvG_DH_VA</key>
	<string>dvG__D_H__V_A_.glif</string>
	<key>dvG_DH_YA</key>
	<string>dvG__D_H__Y_A_.glif</string>
	<key>dvG_GA</key>
	<string>dvG__G_A_.glif</string>
	<key>dvG_GHA</key>
	<string>dvG__G_H_A_.glif</string>
	<key>dvG_JA</key>
	<string>dvG__J_A_.glif</string>
	<key>dvG_LA</key>
	<string>dvG__L_A_.glif</string>
	<key>dvG_MA</key>
	<string>dvG__M_A_.glif</string>
	<key>dvG_NA</key>
	<string>dvG__N_A_.glif</string>
	<key>dvG_NNA</key>
	<string>dvG__N_N_A_.glif</string>
	<key>dvG_N_YA</key>
	<string>dvG__N__Y_A_.glif</string>
	<key>dvG_Nukta</key>
	<string>dvG__N_ukta.glif</string>
	<key>dvG_Nukta_R</key>
	<string>dvG__N_ukta_R_.glif</string>
	<key>dvG_Nukta_RA</key>
	<string>dvG__N_ukta_R_A_.glif</string>
	<key>dvG_R</key>
	<string>dvG__R_.glif</string>
	<key>dvG_RA</key>
	<string>dvG__R_A_.glif</string>
	<key>dvG_R_YA</key>
	<string>dvG__R__Y_A_.glif</string>
	<key>dvG_SA</key>
	<string>dvG__S_A_.glif</string>
	<key>dvG_VA</key>
	<string>dvG__V_A_.glif</string>
	<key>dvG_YA</key>
	<string>dvG__Y_A_.glif</string>
	<key>dvH</key>
	<string>dvH_.glif</string>
	<key>dvHA</key>
	<string>dvH_A_.glif</string>
	<key>dvHA_MatraU</key>
	<string>dvH_A__M_atraU_.glif</string>
	<key>dvHA_MatraUU</key>
	<string>dvH_A__M_atraU_U_.glif</string>
	<key>dvHA_MatraVocalicR</key>
	<string>dvH_A__M_atraV_ocalicR_.glif</string>
	<key>dvH_LA</key>
	<string>dvH__L_A_.glif</string>
	<key>dvH_MA</key>
	<string>dvH__M_A_.glif</string>
	<key>dvH_NA</key>
	<string>dvH__N_A_.glif</string>
	<key>dvH_NNA</key>
	<string>dvH__N_N_A_.glif</string>
	<key>dvH_RA</key>
	<string>dvH__R_A_.glif</string>
	<key>dvH_VA</key>
	<string>dvH__V_A_.glif</string>
	<key>dvH_YA</key>
	<string>dvH__Y_A_.glif</string>
	<key>dvI</key>
	<string>dvI_.glif</string>
	<key>dvII</key>
	<string>dvI_I_.glif</string>
	<key>dvII_Anusvara</key>
	<string>dvI_I__A_nusvara.glif</string>
	<key>dvJ</key>
	<string>dvJ_.glif</string>
	<key>dvJA</key>
	<string>dvJ_A_.glif</string>
	<key>dvJA_Nukta</key>
	<string>dvJ_A__N_ukta.glif</string>
	<key>dvJH</key>
	<string>dvJ_H_.glif</string>
	<key>dvJHA</key>
	<string>dvJ_H_A_.glif</string>
	<key>dvJH_MA</key>
	<string>dvJ_H__M_A_.glif</string>
	<key>dvJH_NA</key>
	<string>dvJ_H__N_A_.glif</string>
	<key>dvJH_R</key>
	<string>dvJ_H__R_.glif</string>
	<key>dvJH_RA</key>
	<string>dvJ_H__R_A_.glif</string>
	<key>dvJH_YA</key>
	<string>dvJ_H__Y_A_.glif</string>
	<key>dvJ_BA</key>
	<string>dvJ__B_A_.glif</string>
	<key>dvJ_DA</key>
	<string>dvJ__D_A_.glif</string>
	<key>dvJ_DDA</key>
	<string>dvJ__D_D_A_.glif</string>
	<key>dvJ_JA</key>
	<string>dvJ__J_A_.glif</string>
	<key>dvJ_JHA</key>
	<string>dvJ__J_H_A_.glif</string>
	<key>dvJ_J_NYA</key>
	<string>dvJ__J__N_Y_A_.glif</string>
	<key>dvJ_J_VA</key>
	<string>dvJ__J__V_A_.glif</string>
	<key>dvJ_J_YA</key>
	<string>dvJ__J__Y_A_.glif</string>
	<key>dvJ_KA</key>
	<string>dvJ__K_A_.glif</string>
	<key>dvJ_MA</key>
	<string>dvJ__M_A_.glif</string>
	<key>dvJ_NA</key>
	<string>dvJ__N_A_.glif</string>
	<key>dvJ_NY</key>
	<string>dvJ__N_Y_.glif</string>
	<key>dvJ_NYA</key>
	<string>dvJ__N_Y_A_.glif</string>
	<key>dvJ_NY_YA</key>
	<string>dvJ__N_Y__Y_A_.glif</string>
	<key>dvJ_Nukta</key>
	<string>dvJ__N_ukta.glif</string>
	<key>dvJ_Nukta_JA_Nukta</key>
	<string>dvJ__N_ukta_J_A__N_ukta.glif</string>
	<key>dvJ_Nukta_R</key>
	<string>dvJ__N_ukta_R_.glif</string>
	<key>dvJ_Nukta_RA</key>
	<string>dvJ__N_ukta_R_A_.glif</string>
	<key>dvJ_Nukta_YA</key>
	<string>dvJ__N_ukta_Y_A_.glif</string>
	<key>dvJ_R</key>
	<string>dvJ__R_.glif</string>
	<key>dvJ_RA</key>
	<string>dvJ__R_A_.glif</string>
	<key>dvJ_TA</key>
	<string>dvJ__T_A_.glif</string>
	<key>dvJ_TTA</key>
	<string>dvJ__T_T_A_.glif</string>
	<key>dvJ_VA</key>
	<string>dvJ__V_A_.glif</string>
	<key>dvJ_YA</key>
	<string>dvJ__Y_A_.glif</string>
	<key>dvK</key>
	<string>dvK_.glif</string>
	<key>dvKA</key>
	<string>dvK_A_.glif</string>
	<key>dvKA_Nukta</key>
	<string>dvK_A__N_ukta.glif</string>
	<key>dvKH</key>
	<string>dvK_H_.glif</string>
	<key>dvKHA</key>
	<string>dvK_H_A_.glif</string>
	<key>dvKHA_Nukta</key>
	<string>dvK_H_A__N_ukta.glif</string>
	<key>dvKH_KHA</key>
	<string>dvK_H__K_H_A_.glif</string>
	<key>dvKH_MA</key>
	<string>dvK_H__M_A_.glif</string>
	<key>dvKH_NA</key>
	<string>dvK_H__N_A_.glif</string>
	<key>dvKH_Nukta</key>
	<string>dvK_H__N_ukta.glif</string>
	<key>dvKH_Nukta_MA</key>
	<string>dvK_H__N_ukta_M_A_.glif</string>
	<key>dvKH_Nukta_R</key>
	<string>dvK_H__N_ukta_R_.glif</string>
	<key>dvKH_Nukta_RA</key>
	<string>dvK_H__N_ukta_R_A_.glif</string>
	<key>dvKH_Nukta_SA</key>
	<string>dvK_H__N_ukta_S_A_.glif</string>
	<key>dvKH_Nukta_SHA</key>
	<string>dvK_H__N_ukta_S_H_A_.glif</string>
	<key>dvKH_Nukta_TA</key>
	<string>dvK_H__N_ukta_T_A_.glif</string>
	<key>dvKH_Nukta_VA</key>
	<string>dvK_H__N_ukta_V_A_.glif</string>
	<key>dvKH_Nukta_YA</key>
	<string>dvK_H__N_ukta_Y_A_.glif</string>
	<key>dvKH_R</key>
	<string>dvK_H__R_.glif</string>
	<key>dvKH_RA</key>
	<string>dvK_H__R_A_.glif</string>
	<key>dvKH_SHA</key>
	<string>dvK_H__S_H_A_.glif</string>
	<key>dvKH_TA</key>
	<string>dvK_H__T_A_.glif</string>
	<key>dvKH_VA</key>
	<string>dvK_H__V_A_.glif</string>
	<key>dvKH_YA</key>
	<string>dvK_H__Y_A_.glif</string>
	<key>dvK_CA</key>
	<string>dvK__C_A_.glif</string>
	<key>dvK_DA</key>
	<string>dvK__D_A_.glif</string>
	<key>dvK_JA</key>
	<string>dvK__J_A_.glif</string>
	<key>dvK_KA</key>
	<string>dvK__K_A_.glif</string>
	<key>dvK_KHA</key>
	<string>dvK__K_H_A_.glif</string>
	<key>dvK_LA</key>
	<string>dvK__L_A_.glif</string>
	<key>dvK_MA</key>
	<string>dvK__M_A_.glif</string>
	<key>dvK_NA</key>
	<string>dvK__N_A_.glif</string>
	<key>dvK_NNA</key>
	<string>dvK__N_N_A_.glif</string>
	<key>dvK_Nukta</key>
	<string>dvK__N_ukta.glif</string>
	<key>dvK_Nukta_BA</key>
	<string>dvK__N_ukta_B_A_.glif</string>
	<key>dvK_Nukta_KA_Nukta</key>
	<string>dvK__N_ukta_K_A__N_ukta.glif</string>
	<key>dvK_Nukta_MA</key>
	<string>dvK__N_ukta_M_A_.glif</string>
	<key>dvK_Nukta_PHA</key>
	<string>dvK__N_ukta_P_H_A_.glif</string>
	<key>dvK_Nukta_PHA_Nukta</key>
	<string>dvK__N_ukta_P_H_A__N_ukta.glif</string>
	<key>dvK_Nukta_R</key>
	<string>dvK__N_ukta_R_.glif</string>
	<key>dvK_Nukta_RA</key>
	<string>dvK__N_ukta_R_A_.glif</string>
	<key>dvK_Nukta_TA</key>
	<string>dvK__N_ukta_T_A_.glif</string>
	<key>dvK_PA</key>
	<string>dvK__P_A_.glif</string>
	<key>dvK_PHA</key>
	<string>dvK__P_H_A_.glif</string>
	<key>dvK_P_RA</key>
	<string>dvK__P__R_A_.glif</string>
	<key>dvK_R</key>
	<string>dvK__R_.glif</string>
	<key>dvK_RA</key>
	<string>dvK__R_A_.glif</string>
	<key>dvK_RA.aTrad</key>
	<string>dvK__R_A_.aT_rad.glif</string>
	<key>dvK_SA</key>
	<string>dvK__S_A_.glif</string>
	<key>dvK_SHA</key>
	<string>dvK__S_H_A_.glif</string>
	<key>dvK_SS</key>
	<string>dvK__S_S_.glif</string>
	<key>dvK_SSA</key>
	<string>dvK__S_S_A_.glif</string>
	<key>dvK_SS_M</key>
	<string>dvK__S_S__M_.glif</string>
	<key>dvK_SS_MA</key>
	<string>dvK__S_S__M_A_.glif</string>
	<key>dvK_SS_M_YA</key>
	<string>dvK__S_S__M__Y_A_.glif</string>
	<key>dvK_SS_VA</key>
	<string>dvK__S_S__V_A_.glif</string>
	<key>dvK_SS_YA</key>
	<string>dvK__S_S__Y_A_.glif</string>
	<key>dvK_S_DDA</key>
	<string>dvK__S__D_D_A_.glif</string>
	<key>dvK_S_P_LA</key>
	<string>dvK__S__P__L_A_.glif</string>
	<key>dvK_S_P_RA</key>
	<string>dvK__S__P__R_A_.glif</string>
	<key>dvK_S_TA</key>
	<string>dvK__S__T_A_.glif</string>
	<key>dvK_S_TTA</key>
	<string>dvK__S__T_T_A_.glif</string>
	<key>dvK_TA</key>
	<string>dvK__T_A_.glif</string>
	<key>dvK_THA</key>
	<string>dvK__T_H_A_.glif</string>
	<key>dvK_TTA</key>
	<string>dvK__T_T_A_.glif</string>
	<key>dvK_T_RA</key>
	<string>dvK__T__R_A_.glif</string>
	<key>dvK_T_VA</key>
	<string>dvK__T__V_A_.glif</string>
	<key>dvK_T_YA</key>
	<string>dvK__T__Y_A_.glif</string>
	<key>dvK_VA</key>
	<string>dvK__V_A_.glif</string>
	<key>dvK_V_YA</key>
	<string>dvK__V__Y_A_.glif</string>
	<key>dvK_YA</key>
	<string>dvK__Y_A_.glif</string>
	<key>dvL</key>
	<string>dvL_.glif</string>
	<key>dvLA</key>
	<string>dvL_A_.glif</string>
	<key>dvLL</key>
	<string>dvL_L_.glif</string>
	<key>dvLLA</key>
	<string>dvL_L_A_.glif</string>
	<key>dvLLA_Nukta</key>
	<string>dvL_L_A__N_ukta.glif</string>
	<key>dvLL_YA</key>
	<string>dvL_L__Y_A_.glif</string>
	<key>dvL_BA</key>
	<string>dvL__B_A_.glif</string>
	<key>dvL_BH</key>
	<string>dvL__B_H_.glif</string>
	<key>dvL_BHA</key>
	<string>dvL__B_H_A_.glif</string>
	<key>dvL_DA</key>
	<string>dvL__D_A_.glif</string>
	<key>dvL_DDA</key>
	<string>dvL__D_D_A_.glif</string>
	<key>dvL_DDHA</key>
	<string>dvL__D_D_H_A_.glif</string>
	<key>dvL_D_RA</key>
	<string>dvL__D__R_A_.glif</string>
	<key>dvL_GA</key>
	<string>dvL__G_A_.glif</string>
	<key>dvL_HA</key>
	<string>dvL__H_A_.glif</string>
	<key>dvL_JA</key>
	<string>dvL__J_A_.glif</string>
	<key>dvL_JA_Nukta</key>
	<string>dvL__J_A__N_ukta.glif</string>
	<key>dvL_KA</key>
	<string>dvL__K_A_.glif</string>
	<key>dvL_KHA</key>
	<string>dvL__K_H_A_.glif</string>
	<key>dvL_K_YA</key>
	<string>dvL__K__Y_A_.glif</string>
	<key>dvL_LA</key>
	<string>dvL__L_A_.glif</string>
	<key>dvL_L_YA</key>
	<string>dvL__L__Y_A_.glif</string>
	<key>dvL_MA</key>
	<string>dvL__M_A_.glif</string>
	<key>dvL_PA</key>
	<string>dvL__P_A_.glif</string>
	<key>dvL_PHA</key>
	<string>dvL__P_H_A_.glif</string>
	<key>dvL_SA</key>
	<string>dvL__S_A_.glif</string>
	<key>dvL_TA</key>
	<string>dvL__T_A_.glif</string>
	<key>dvL_THA</key>
	<string>dvL__T_H_A_.glif</string>
	<key>dvL_TH_YA</key>
	<string>dvL__T_H__Y_A_.glif</string>
	<key>dvL_TTA</key>
	<string>dvL__T_T_A_.glif</string>
	<key>dvL_TTHA</key>
	<string>dvL__T_T_H_A_.glif</string>
	<key>dvL_VA</key>
	<string>dvL__V_A_.glif</string>
	<key>dvL_V_DDA</key>
	<string>dvL__V__D_D_A_.glif</string>
	<key>dvL_YA</key>
	<string>dvL__Y_A_.glif</string>
	<key>dvM</key>
	<string>dvM_.glif</string>
	<key>dvMA</key>
	<string>dvM_A_.glif</string>
	<key>dvM_BA</key>
	<string>dvM__B_A_.glif</string>
	<key>dvM_BH</key>
	<string>dvM__B_H_.glif</string>
	<key>dvM_BHA</key>
	<string>dvM__B_H_A_.glif</string>
	<key>dvM_BH_RA</key>
	<string>dvM__B_H__R_A_.glif</string>
	<key>dvM_BH_VA</key>
	<string>dvM__B_H__V_A_.glif</string>
	<key>dvM_BH_YA</key>
	<string>dvM__B_H__Y_A_.glif</string>
	<key>dvM_B_RA</key>
	<string>dvM__B__R_A_.glif</string>
	<key>dvM_B_YA</key>
	<string>dvM__B__Y_A_.glif</string>
	<key>dvM_DA</key>
	<string>dvM__D_A_.glif</string>
	<key>dvM_HA</key>
	<string>dvM__H_A_.glif</string>
	<key>dvM_LA</key>
	<string>dvM__L_A_.glif</string>
	<key>dvM_MA</key>
	<string>dvM__M_A_.glif</string>
	<key>dvM_NA</key>
	<string>dvM__N_A_.glif</string>
	<key>dvM_PA</key>
	<string>dvM__P_A_.glif</string>
	<key>dvM_P_RA</key>
	<string>dvM__P__R_A_.glif</string>
	<key>dvM_R</key>
	<string>dvM__R_.glif</string>
	<key>dvM_RA</key>
	<string>dvM__R_A_.glif</string>
	<key>dvM_SA</key>
	<string>dvM__S_A_.glif</string>
	<key>dvM_SHA</key>
	<string>dvM__S_H_A_.glif</string>
	<key>dvM_TA</key>
	<string>dvM__T_A_.glif</string>
	<key>dvM_VA</key>
	<string>dvM__V_A_.glif</string>
	<key>dvM_YA</key>
	<string>dvM__Y_A_.glif</string>
	<key>dvMatraAA</key>
	<string>dvM_atraA_A_.glif</string>
	<key>dvMatraAI</key>
	<string>dvM_atraA_I_.glif</string>
	<key>dvMatraAI_Anusvara</key>
	<string>dvM_atraA_I__A_nusvara.glif</string>
	<key>dvMatraAI_Candrabindu</key>
	<string>dvM_atraA_I__C_andrabindu.glif</string>
	<key>dvMatraAI_Reph</key>
	<string>dvM_atraA_I__R_eph.glif</string>
	<key>dvMatraAI_Reph_Anusvara</key>
	<string>dvM_atraA_I__R_eph_A_nusvara.glif</string>
	<key>dvMatraAU</key>
	<string>dvM_atraA_U_.glif</string>
	<key>dvMatraAU_Anusvara</key>
	<string>dvM_atraA_U__A_nusvara.glif</string>
	<key>dvMatraAU_Reph</key>
	<string>dvM_atraA_U__R_eph.glif</string>
	<key>dvMatraAU_Reph_Anusvara</key>
	<string>dvM_atraA_U__R_eph_A_nusvara.glif</string>
	<key>dvMatraE</key>
	<string>dvM_atraE_.glif</string>
	<key>dvMatraE_Anusvara</key>
	<string>dvM_atraE__A_nusvara.glif</string>
	<key>dvMatraE_Candrabindu</key>
	<string>dvM_atraE__C_andrabindu.glif</string>
	<key>dvMatraE_Reph</key>
	<string>dvM_atraE__R_eph.glif</string>
	<key>dvMatraE_Reph_Anusvara</key>
	<string>dvM_atraE__R_eph_A_nusvara.glif</string>
	<key>dvMatraEcandra</key>
	<string>dvM_atraE_candra.glif</string>
	<key>dvMatraEshort</key>
	<string>dvM_atraE_short.glif</string>
	<key>dvMatraI</key>
	<string>dvM_atraI_.glif</string>
	<key>dvMatraI.a01</key>
	<string>dvM_atraI_.a01.glif</string>
	<key>dvMatraI.a02</key>
	<string>dvM_atraI_.a02.glif</string>
	<key>dvMatraI.a03</key>
	<string>dvM_atraI_.a03.glif</string>
	<key>dvMatraI.a04</key>
	<string>dvM_atraI_.a04.glif</string>
	<key>dvMatraI.a05</key>
	<string>dvM_atraI_.a05.glif</string>
	<key>dvMatraI.a06</key>
	<string>dvM_atraI_.a06.glif</string>
	<key>dvMatraI.a07</key>
	<string>dvM_atraI_.a07.glif</string>
	<key>dvMatraI.a08</key>
	<string>dvM_atraI_.a08.glif</string>
	<key>dvMatraI.a09</key>
	<string>dvM_atraI_.a09.glif</string>
	<key>dvMatraI.a10</key>
	<string>dvM_atraI_.a10.glif</string>
	<key>dvMatraI.a11</key>
	<string>dvM_atraI_.a11.glif</string>
	<key>dvMatraI.a12</key>
	<string>dvM_atraI_.a12.glif</string>
	<key>dvMatraI.a13</key>
	<string>dvM_atraI_.a13.glif</string>
	<key>dvMatraI.a14</key>
	<string>dvM_atraI_.a14.glif</string>
	<key>dvMatraI.a15</key>
	<string>dvM_atraI_.a15.glif</string>
	<key>dvMatraI.a16</key>
	<string>dvM_atraI_.a16.glif</string>
	<key>dvMatraI.a17</key>
	<string>dvM_atraI_.a17.glif</string>
	<key>dvMatraI.a18</key>
	<string>dvM_atraI_.a18.glif</string>
	<key>dvMatraI.a19</key>
	<string>dvM_atraI_.a19.glif</string>
	<key>dvMatraI.a20</key>
	<string>dvM_atraI_.a20.glif</string>
	<key>dvMatraI.a21</key>
	<string>dvM_atraI_.a21.glif</string>
	<key>dvMatraI.a22</key>
	<string>dvM_atraI_.a22.glif</string>
	<key>dvMatraI.a23</key>
	<string>dvM_atraI_.a23.glif</string>
	<key>dvMatraI.a24</key>
	<string>dvM_atraI_.a24.glif</string>
	<key>dvMatraI.a25</key>
	<string>dvM_atraI_.a25.glif</string>
	<key>dvMatraI.a26</key>
	<string>dvM_atraI_.a26.glif</string>
	<key>dvMatraI.a27</key>
	<string>dvM_atraI_.a27.glif</string>
	<key>dvMatraI.a28</key>
	<string>dvM_atraI_.a28.glif</string>
	<key>dvMatraI.a29</key>
	<string>dvM_atraI_.a29.glif</string>
	<key>dvMatraI.a30</key>
	<string>dvM_atraI_.a30.glif</string>
	<key>dvMatraI.a31</key>
	<string>dvM_atraI_.a31.glif</string>
	<key>dvMatraI.a32</key>
	<string>dvM_atraI_.a32.glif</string>
	<key>dvMatraII</key>
	<string>dvM_atraI_I_.glif</string>
	<key>dvMatraII.aLong</key>
	<string>dvM_atraI_I_.aL_ong.glif</string>
	<key>dvMatraII_Anusvara</key>
	<string>dvM_atraI_I__A_nusvara.glif</string>
	<key>dvMatraII_Anusvara.aLong</key>
	<string>dvM_atraI_I__A_nusvara.aL_ong.glif</string>
	<key>dvMatraII_Reph</key>
	<string>dvM_atraI_I__R_eph.glif</string>
	<key>dvMatraII_Reph.aLong</key>
	<string>dvM_atraI_I__R_eph.aL_ong.glif</string>
	<key>dvMatraII_Reph_Anusvara</key>
	<string>dvM_atraI_I__R_eph_A_nusvara.glif</string>
	<key>dvMatraII_Reph_Anusvara.aLong</key>
	<string>dvM_atraI_I__R_eph_A_nusvara.aL_ong.glif</string>
	<key>dvMatraO</key>
	<string>dvM_atraO_.glif</string>
	<key>dvMatraO_Anusvara</key>
	<string>dvM_atraO__A_nusvara.glif</string>
	<key>dvMatraO_Reph</key>
	<string>dvM_atraO__R_eph.glif</string>
	<key>dvMatraO_Reph_Anusvara</key>
	<string>dvM_atraO__R_eph_A_nusvara.glif</string>
	<key>dvMatraOcandra</key>
	<string>dvM_atraO_candra.glif</string>
	<key>dvMatraOshort</key>
	<string>dvM_atraO_short.glif</string>
	<key>dvMatraOshort_Anusvara</key>
	<string>dvM_atraO_short_A_nusvara.glif</string>
	<key>dvMatraU</key>
	<string>dvM_atraU_.glif</string>
	<key>dvMatraUU</key>
	<string>dvM_atraU_U_.glif</string>
	<key>dvMatraVocalicR</key>
	<string>dvM_atraV_ocalicR_.glif</string>
	<key>dvMatraVocalicRR</key>
	<string>dvM_atraV_ocalicR_R_.glif</string>
	<key>dvN</key>
	<string>dvN_.glif</string>
	<key>dvNA</key>
	<string>dvN_A_.glif</string>
	<key>dvNA_Nukta</key>
	<string>dvN_A__N_ukta.glif</string>
	<key>dvNApost</key>
	<string>dvN_A_post.glif</string>
	<key>dvNG</key>
	<string>dvN_G_.glif</string>
	<key>dvNGA</key>
	<string>dvN_G_A_.glif</string>
	<key>dvNG_GA</key>
	<string>dvN_G__G_A_.glif</string>
	<key>dvNG_MA</key>
	<string>dvN_G__M_A_.glif</string>
	<key>dvNG_RA</key>
	<string>dvN_G__R_A_.glif</string>
	<key>dvNN</key>
	<string>dvN_N_.glif</string>
	<key>dvNNA</key>
	<string>dvN_N_A_.glif</string>
	<key>dvNN_DDA</key>
	<string>dvN_N__D_D_A_.glif</string>
	<key>dvNN_DDHA</key>
	<string>dvN_N__D_D_H_A_.glif</string>
	<key>dvNN_MA</key>
	<string>dvN_N__M_A_.glif</string>
	<key>dvNN_NNA</key>
	<string>dvN_N__N_N_A_.glif</string>
	<key>dvNN_R</key>
	<string>dvN_N__R_.glif</string>
	<key>dvNN_RA</key>
	<string>dvN_N__R_A_.glif</string>
	<key>dvNN_TTA</key>
	<string>dvN_N__T_T_A_.glif</string>
	<key>dvNN_TTHA</key>
	<string>dvN_N__T_T_H_A_.glif</string>
	<key>dvNN_VA</key>
	<string>dvN_N__V_A_.glif</string>
	<key>dvNN_YA</key>
	<string>dvN_N__Y_A_.glif</string>
	<key>dvNY</key>
	<string>dvN_Y_.glif</string>
	<key>dvNYA</key>
	<string>dvN_Y_A_.glif</string>
	<key>dvNY_CA</key>
	<string>dvN_Y__C_A_.glif</string>
	<key>dvNY_CHA</key>
	<string>dvN_Y__C_H_A_.glif</string>
	<key>dvNY_JA</key>
	<string>dvN_Y__J_A_.glif</string>
	<key>dvNY_R</key>
	<string>dvN_Y__R_.glif</string>
	<key>dvNY_RA</key>
	<string>dvN_Y__R_A_.glif</string>
	<key>dvNY_SHA</key>
	<string>dvN_Y__S_H_A_.glif</string>
	<key>dvN_BH</key>
	<string>dvN__B_H_.glif</string>
	<key>dvN_BHA</key>
	<string>dvN__B_H_A_.glif</string>
	<key>dvN_BH_VA</key>
	<string>dvN__B_H__V_A_.glif</string>
	<key>dvN_BH_YA</key>
	<string>dvN__B_H__Y_A_.glif</string>
	<key>dvN_CA</key>
	<string>dvN__C_A_.glif</string>
	<key>dvN_CHA</key>
	<string>dvN__C_H_A_.glif</string>
	<key>dvN_DA</key>
	<string>dvN__D_A_.glif</string>
	<key>dvN_DDA</key>
	<string>dvN__D_D_A_.glif</string>
	<key>dvN_DHA</key>
	<string>dvN__D_H_A_.glif</string>
	<key>dvN_DH_RA</key>
	<string>dvN__D_H__R_A_.glif</string>
	<key>dvN_DH_VA</key>
	<string>dvN__D_H__V_A_.glif</string>
	<key>dvN_DH_YA</key>
	<string>dvN__D_H__Y_A_.glif</string>
	<key>dvN_D_RA</key>
	<string>dvN__D__R_A_.glif</string>
	<key>dvN_D_VA</key>
	<string>dvN__D__V_A_.glif</string>
	<key>dvN_HA</key>
	<string>dvN__H_A_.glif</string>
	<key>dvN_KA</key>
	<string>dvN__K_A_.glif</string>
	<key>dvN_K_SA</key>
	<string>dvN__K__S_A_.glif</string>
	<key>dvN_MA</key>
	<string>dvN__M_A_.glif</string>
	<key>dvN_M_YA</key>
	<string>dvN__M__Y_A_.glif</string>
	<key>dvN_NA</key>
	<string>dvN__N_A_.glif</string>
	<key>dvN_N_YA</key>
	<string>dvN__N__Y_A_.glif</string>
	<key>dvN_Nukta</key>
	<string>dvN__N_ukta.glif</string>
	<key>dvN_Nukta_R</key>
	<string>dvN__N_ukta_R_.glif</string>
	<key>dvN_Nukta_RA</key>
	<string>dvN__N_ukta_R_A_.glif</string>
	<key>dvN_PA</key>
	<string>dvN__P_A_.glif</string>
	<key>dvN_PHA</key>
	<string>dvN__P_H_A_.glif</string>
	<key>dvN_PH_RA</key>
	<string>dvN__P_H__R_A_.glif</string>
	<key>dvN_P_RA</key>
	<string>dvN__P__R_A_.glif</string>
	<key>dvN_R</key>
	<string>dvN__R_.glif</string>
	<key>dvN_RA</key>
	<string>dvN__R_A_.glif</string>
	<key>dvN_S</key>
	<string>dvN__S_.glif</string>
	<key>dvN_SA</key>
	<string>dvN__S_A_.glif</string>
	<key>dvN_S_M_YA</key>
	<string>dvN__S__M__Y_A_.glif</string>
	<key>dvN_S_TTA</key>
	<string>dvN__S__T_T_A_.glif</string>
	<key>dvN_S_YA</key>
	<string>dvN__S__Y_A_.glif</string>
	<key>dvN_TA</key>
	<string>dvN__T_A_.glif</string>
	<key>dvN_THA</key>
	<string>dvN__T_H_A_.glif</string>
	<key>dvN_TH_VA</key>
	<string>dvN__T_H__V_A_.glif</string>
	<key>dvN_TH_YA</key>
	<string>dvN__T_H__Y_A_.glif</string>
	<key>dvN_TTA</key>
	<string>dvN__T_T_A_.glif</string>
	<key>dvN_T_RA</key>
	<string>dvN__T__R_A_.glif</string>
	<key>dvN_T_SA</key>
	<string>dvN__T__S_A_.glif</string>
	<key>dvN_T_YA</key>
	<string>dvN__T__Y_A_.glif</string>
	<key>dvN_VA</key>
	<string>dvN__V_A_.glif</string>
	<key>dvN_YA</key>
	<string>dvN__Y_A_.glif</string>
	<key>dvNine</key>
	<string>dvN_ine.glif</string>
	<key>dvNukta</key>
	<string>dvN_ukta.glif</string>
	<key>dvO</key>
	<string>dvO_.glif</string>
	<key>dvOcandra</key>
	<string>dvO_candra.glif</string>
	<key>dvOm</key>
	<string>dvO_m.glif</string>
	<key>dvOne</key>
	<string>dvO_ne.glif</string>
	<key>dvOshort</key>
	<string>dvO_short.glif</string>
	<key>dvP</key>
	<string>dvP_.glif</string>
	<key>dvPA</key>
	<string>dvP_A_.glif</string>
	<key>dvPH</key>
	<string>dvP_H_.glif</string>
	<key>dvPHA</key>
	<string>dvP_H_A_.glif</string>
	<key>dvPHA_Nukta</key>
	<string>dvP_H_A__N_ukta.glif</string>
	<key>dvPH_JA</key>
	<string>dvP_H__J_A_.glif</string>
	<key>dvPH_LA</key>
	<string>dvP_H__L_A_.glif</string>
	<key>dvPH_NA</key>
	<string>dvP_H__N_A_.glif</string>
	<key>dvPH_Nukta</key>
	<string>dvP_H__N_ukta.glif</string>
	<key>dvPH_Nukta_JA_Nukta</key>
	<string>dvP_H__N_ukta_J_A__N_ukta.glif</string>
	<key>dvPH_Nukta_PHA_Nukta</key>
	<string>dvP_H__N_ukta_P_H_A__N_ukta.glif</string>
	<key>dvPH_Nukta_R</key>
	<string>dvP_H__N_ukta_R_.glif</string>
	<key>dvPH_Nukta_RA</key>
	<string>dvP_H__N_ukta_R_A_.glif</string>
	<key>dvPH_Nukta_SA</key>
	<string>dvP_H__N_ukta_S_A_.glif</string>
	<key>dvPH_Nukta_TA</key>
	<string>dvP_H__N_ukta_T_A_.glif</string>
	<key>dvPH_PA</key>
	<string>dvP_H__P_A_.glif</string>
	<key>dvPH_PHA</key>
	<string>dvP_H__P_H_A_.glif</string>
	<key>dvPH_R</key>
	<string>dvP_H__R_.glif</string>
	<key>dvPH_RA</key>
	<string>dvP_H__R_A_.glif</string>
	<key>dvPH_SHA</key>
	<string>dvP_H__S_H_A_.glif</string>
	<key>dvPH_TA</key>
	<string>dvP_H__T_A_.glif</string>
	<key>dvPH_TTA</key>
	<string>dvP_H__T_T_A_.glif</string>
	<key>dvPH_YA</key>
	<string>dvP_H__Y_A_.glif</string>
	<key>dvP_LA</key>
	<string>dvP__L_A_.glif</string>
	<key>dvP_MA</key>
	<string>dvP__M_A_.glif</string>
	<key>dvP_NA</key>
	<string>dvP__N_A_.glif</string>
	<key>dvP_PA</key>
	<string>dvP__P_A_.glif</string>
	<key>dvP_PHA</key>
	<string>dvP__P_H_A_.glif</string>
	<key>dvP_R</key>
	<string>dvP__R_.glif</string>
	<key>dvP_RA</key>
	<string>dvP__R_A_.glif</string>
	<key>dvP_SA</key>
	<string>dvP__S_A_.glif</string>
	<key>dvP_TA</key>
	<string>dvP__T_A_.glif</string>
	<key>dvP_TTA</key>
	<string>dvP__T_T_A_.glif</string>
	<key>dvP_TTHA</key>
	<string>dvP__T_T_H_A_.glif</string>
	<key>dvP_T_YA</key>
	<string>dvP__T__Y_A_.glif</string>
	<key>dvP_VA</key>
	<string>dvP__V_A_.glif</string>
	<key>dvP_YA</key>
	<string>dvP__Y_A_.glif</string>
	<key>dvR</key>
	<string>dvR_.glif</string>
	<key>dvRA</key>
	<string>dvR_A_.glif</string>
	<key>dvRA_MatraU</key>
	<string>dvR_A__M_atraU_.glif</string>
	<key>dvRA_MatraUU</key>
	<string>dvR_A__M_atraU_U_.glif</string>
	<key>dvRA_Nukta</key>
	<string>dvR_A__N_ukta.glif</string>
	<key>dvRApost</key>
	<string>dvR_A_post.glif</string>
	<key>dvReph</key>
	<string>dvR_eph.glif</string>
	<key>dvReph_Anusvara</key>
	<string>dvR_eph_A_nusvara.glif</string>
	<key>dvS</key>
	<string>dvS_.glif</string>
	<key>dvSA</key>
	<string>dvS_A_.glif</string>
	<key>dvSH</key>
	<string>dvS_H_.glif</string>
	<key>dvSHA</key>
	<string>dvS_H_A_.glif</string>
	<key>dvSHA_MatraVocalicR</key>
	<string>dvS_H_A__M_atraV_ocalicR_.glif</string>
	<key>dvSH_CA</key>
	<string>dvS_H__C_A_.glif</string>
	<key>dvSH_CHA</key>
	<string>dvS_H__C_H_A_.glif</string>
	<key>dvSH_KA</key>
	<string>dvS_H__K_A_.glif</string>
	<key>dvSH_KA_Nukta</key>
	<string>dvS_H__K_A__N_ukta.glif</string>
	<key>dvSH_LA</key>
	<string>dvS_H__L_A_.glif</string>
	<key>dvSH_MA</key>
	<string>dvS_H__M_A_.glif</string>
	<key>dvSH_NA</key>
	<string>dvS_H__N_A_.glif</string>
	<key>dvSH_RA</key>
	<string>dvS_H__R_A_.glif</string>
	<key>dvSH_SHA</key>
	<string>dvS_H__S_H_A_.glif</string>
	<key>dvSH_TA</key>
	<string>dvS_H__T_A_.glif</string>
	<key>dvSH_TTA</key>
	<string>dvS_H__T_T_A_.glif</string>
	<key>dvSH_VA</key>
	<string>dvS_H__V_A_.glif</string>
	<key>dvSH_VA.aSimp</key>
	<string>dvS_H__V_A_.aS_imp.glif</string>
	<key>dvSH_YA</key>
	<string>dvS_H__Y_A_.glif</string>
	<key>dvSS</key>
	<string>dvS_S_.glif</string>
	<key>dvSSA</key>
	<string>dvS_S_A_.glif</string>
	<key>dvSS_KA</key>
	<string>dvS_S__K_A_.glif</string>
	<key>dvSS_K_RA</key>
	<string>dvS_S__K__R_A_.glif</string>
	<key>dvSS_MA</key>
	<string>dvS_S__M_A_.glif</string>
	<key>dvSS_M_YA</key>
	<string>dvS_S__M__Y_A_.glif</string>
	<key>dvSS_NNA</key>
	<string>dvS_S__N_N_A_.glif</string>
	<key>dvSS_NN_YA</key>
	<string>dvS_S__N_N__Y_A_.glif</string>
	<key>dvSS_PA</key>
	<string>dvS_S__P_A_.glif</string>
	<key>dvSS_PHA</key>
	<string>dvS_S__P_H_A_.glif</string>
	<key>dvSS_P_RA</key>
	<string>dvS_S__P__R_A_.glif</string>
	<key>dvSS_SSA</key>
	<string>dvS_S__S_S_A_.glif</string>
	<key>dvSS_TTA</key>
	<string>dvS_S__T_T_A_.glif</string>
	<key>dvSS_TTHA</key>
	<string>dvS_S__T_T_H_A_.glif</string>
	<key>dvSS_TTH_RA</key>
	<string>dvS_S__T_T_H__R_A_.glif</string>
	<key>dvSS_TTH_YA</key>
	<string>dvS_S__T_T_H__Y_A_.glif</string>
	<key>dvSS_TT_RA</key>
	<string>dvS_S__T_T__R_A_.glif</string>
	<key>dvSS_TT_VA</key>
	<string>dvS_S__T_T__V_A_.glif</string>
	<key>dvSS_TT_YA</key>
	<string>dvS_S__T_T__Y_A_.glif</string>
	<key>dvSS_VA</key>
	<string>dvS_S__V_A_.glif</string>
	<key>dvSS_YA</key>
	<string>dvS_S__Y_A_.glif</string>
	<key>dvS_BA</key>
	<string>dvS__B_A_.glif</string>
	<key>dvS_DA</key>
	<string>dvS__D_A_.glif</string>
	<key>dvS_JA</key>
	<string>dvS__J_A_.glif</string>
	<key>dvS_KA</key>
	<string>dvS__K_A_.glif</string>
	<key>dvS_KHA</key>
	<string>dvS__K_H_A_.glif</string>
	<key>dvS_K_RA</key>
	<string>dvS__K__R_A_.glif</string>
	<key>dvS_K_VA</key>
	<string>dvS__K__V_A_.glif</string>
	<key>dvS_LA</key>
	<string>dvS__L_A_.glif</string>
	<key>dvS_MA</key>
	<string>dvS__M_A_.glif</string>
	<key>dvS_M_YA</key>
	<string>dvS__M__Y_A_.glif</string>
	<key>dvS_NA</key>
	<string>dvS__N_A_.glif</string>
	<key>dvS_PA</key>
	<string>dvS__P_A_.glif</string>
	<key>dvS_PHA</key>
	<string>dvS__P_H_A_.glif</string>
	<key>dvS_P_RA</key>
	<string>dvS__P__R_A_.glif</string>
	<key>dvS_R</key>
	<string>dvS__R_.glif</string>
	<key>dvS_RA</key>
	<string>dvS__R_A_.glif</string>
	<key>dvS_SA</key>
	<string>dvS__S_A_.glif</string>
	<key>dvS_TA</key>
	<string>dvS__T_A_.glif</string>
	<key>dvS_THA</key>
	<string>dvS__T_H_A_.glif</string>
	<key>dvS_TH_YA</key>
	<string>dvS__T_H__Y_A_.glif</string>
	<key>dvS_TTA</key>
	<string>dvS__T_T_A_.glif</string>
	<key>dvS_T_R</key>
	<string>dvS__T__R_.glif</string>
	<key>dvS_T_RA</key>
	<string>dvS__T__R_A_.glif</string>
	<key>dvS_T_VA</key>
	<string>dvS__T__V_A_.glif</string>
	<key>dvS_T_YA</key>
	<string>dvS__T__Y_A_.glif</string>
	<key>dvS_VA</key>
	<string>dvS__V_A_.glif</string>
	<key>dvS_YA</key>
	<string>dvS__Y_A_.glif</string>
	<key>dvSix</key>
	<string>dvS_ix.glif</string>
	<key>dvT</key>
	<string>dvT_.glif</string>
	<key>dvTA</key>
	<string>dvT_A_.glif</string>
	<key>dvTH</key>
	<string>dvT_H_.glif</string>
	<key>dvTHA</key>
	<string>dvT_H_A_.glif</string>
	<key>dvTH_NA</key>
	<string>dvT_H__N_A_.glif</string>
	<key>dvTH_R</key>
	<string>dvT_H__R_.glif</string>
	<key>dvTH_RA</key>
	<string>dvT_H__R_A_.glif</string>
	<key>dvTH_VA</key>
	<string>dvT_H__V_A_.glif</string>
	<key>dvTH_YA</key>
	<string>dvT_H__Y_A_.glif</string>
	<key>dvTT</key>
	<string>dvT_T_.glif</string>
	<key>dvTTA</key>
	<string>dvT_T_A_.glif</string>
	<key>dvTTH</key>
	<string>dvT_T_H_.glif</string>
	<key>dvTTHA</key>
	<string>dvT_T_H_A_.glif</string>
	<key>dvTTH_NA</key>
	<string>dvT_T_H__N_A_.glif</string>
	<key>dvTTH_R</key>
	<string>dvT_T_H__R_.glif</string>
	<key>dvTTH_RA</key>
	<string>dvT_T_H__R_A_.glif</string>
	<key>dvTTH_TTHA</key>
	<string>dvT_T_H__T_T_H_A_.glif</string>
	<key>dvTTH_YA</key>
	<string>dvT_T_H__Y_A_.glif</string>
	<key>dvTT_GA</key>
	<string>dvT_T__G_A_.glif</string>
	<key>dvTT_NA</key>
	<string>dvT_T__N_A_.glif</string>
	<key>dvTT_R</key>
	<string>dvT_T__R_.glif</string>
	<key>dvTT_RA</key>
	<string>dvT_T__R_A_.glif</string>
	<key>dvTT_TTA</key>
	<string>dvT_T__T_T_A_.glif</string>
	<key>dvTT_TTHA</key>
	<string>dvT_T__T_T_H_A_.glif</string>
	<key>dvTT_VA</key>
	<string>dvT_T__V_A_.glif</string>
	<key>dvTT_YA</key>
	<string>dvT_T__Y_A_.glif</string>
	<key>dvT_KA</key>
	<string>dvT__K_A_.glif</string>
	<key>dvT_KHA</key>
	<string>dvT__K_H_A_.glif</string>
	<key>dvT_KH_NA</key>
	<string>dvT__K_H__N_A_.glif</string>
	<key>dvT_KH_RA</key>
	<string>dvT__K_H__R_A_.glif</string>
	<key>dvT_K_RA</key>
	<string>dvT__K__R_A_.glif</string>
	<key>dvT_K_SSA</key>
	<string>dvT__K__S_S_A_.glif</string>
	<key>dvT_K_VA</key>
	<string>dvT__K__V_A_.glif</string>
	<key>dvT_K_YA</key>
	<string>dvT__K__Y_A_.glif</string>
	<key>dvT_LA</key>
	<string>dvT__L_A_.glif</string>
	<key>dvT_MA</key>
	<string>dvT__M_A_.glif</string>
	<key>dvT_M_YA</key>
	<string>dvT__M__Y_A_.glif</string>
	<key>dvT_NA</key>
	<string>dvT__N_A_.glif</string>
	<key>dvT_N_YA</key>
	<string>dvT__N__Y_A_.glif</string>
	<key>dvT_PA</key>
	<string>dvT__P_A_.glif</string>
	<key>dvT_PHA</key>
	<string>dvT__P_H_A_.glif</string>
	<key>dvT_P_LA</key>
	<string>dvT__P__L_A_.glif</string>
	<key>dvT_P_RA</key>
	<string>dvT__P__R_A_.glif</string>
	<key>dvT_R</key>
	<string>dvT__R_.glif</string>
	<key>dvT_RA</key>
	<string>dvT__R_A_.glif</string>
	<key>dvT_R_KA.aTrad</key>
	<string>dvT__R__K_A_.aT_rad.glif</string>
	<key>dvT_R_YA</key>
	<string>dvT__R__Y_A_.glif</string>
	<key>dvT_SA</key>
	<string>dvT__S_A_.glif</string>
	<key>dvT_S_NA</key>
	<string>dvT__S__N_A_.glif</string>
	<key>dvT_S_VA</key>
	<string>dvT__S__V_A_.glif</string>
	<key>dvT_S_YA</key>
	<string>dvT__S__Y_A_.glif</string>
	<key>dvT_T</key>
	<string>dvT__T_.glif</string>
	<key>dvT_TA</key>
	<string>dvT__T_A_.glif</string>
	<key>dvT_THA</key>
	<string>dvT__T_H_A_.glif</string>
	<key>dvT_T_VA</key>
	<string>dvT__T__V_A_.glif</string>
	<key>dvT_T_YA</key>
	<string>dvT__T__Y_A_.glif</string>
	<key>dvT_VA</key>
	<string>dvT__V_A_.glif</string>
	<key>dvT_YA</key>
	<string>dvT__Y_A_.glif</string>
	<key>dvU</key>
	<string>dvU_.glif</string>
	<key>dvUU</key>
	<string>dvU_U_.glif</string>
	<key>dvUdatta</key>
	<string>dvU_datta.glif</string>
	<key>dvV</key>
	<string>dvV_.glif</string>
	<key>dvVA</key>
	<string>dvV_A_.glif</string>
	<key>dvV_HA</key>
	<string>dvV__H_A_.glif</string>
	<key>dvV_LA</key>
	<string>dvV__L_A_.glif</string>
	<key>dvV_NA</key>
	<string>dvV__N_A_.glif</string>
	<key>dvV_R</key>
	<string>dvV__R_.glif</string>
	<key>dvV_RA</key>
	<string>dvV__R_A_.glif</string>
	<key>dvV_VA</key>
	<string>dvV__V_A_.glif</string>
	<key>dvV_YA</key>
	<string>dvV__Y_A_.glif</string>
	<key>dvVirama</key>
	<string>dvV_irama.glif</string>
	<key>dvVisarga</key>
	<string>dvV_isarga.glif</string>
	<key>dvVocalicL</key>
	<string>dvV_ocalicL_.glif</string>
	<key>dvVocalicLL</key>
	<string>dvV_ocalicL_L_.glif</string>
	<key>dvVocalicR</key>
	<string>dvV_ocalicR_.glif</string>
	<key>dvVocalicRR</key>
	<string>dvV_ocalicR_R_.glif</string>
	<key>dvY</key>
	<string>dvY_.glif</string>
	<key>dvYA</key>
	<string>dvY_A_.glif</string>
	<key>dvYA_Nukta</key>
	<string>dvY_A__N_ukta.glif</string>
	<key>dvYApost</key>
	<string>dvY_A_post.glif</string>
	<key>dvY_NA</key>
	<string>dvY__N_A_.glif</string>
	<key>dvY_Nukta</key>
	<string>dvY__N_ukta.glif</string>
	<key>dvY_Nukta_R</key>
	<string>dvY__N_ukta_R_.glif</string>
	<key>dvY_Nukta_RA</key>
	<string>dvY__N_ukta_R_A_.glif</string>
	<key>dvY_R</key>
	<string>dvY__R_.glif</string>
	<key>dvY_RA</key>
	<string>dvY__R_A_.glif</string>
	<key>dvY_YA</key>
	<string>dvY__Y_A_.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>f_f_h</key>
	<string>f_f_h.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_k</key>
	<string>f_f_k.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_j</key>
	<string>f_j.glif</string>
	<key>f_k</key>
	<string>f_k.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.alt</key>
	<string>i.alt.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.alt</key>
	<string>j.alt.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ogonek.cap</key>
	<string>ogonek.cap.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
</dict>
</plist>
