<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>873</integer>
	<key>capHeight</key>
	<integer>560</integer>
	<key>copyright</key>
	<string>Copyright (c) 2011 by Tim Donaldson. All rights reserved.</string>
	<key>descender</key>
	<integer>-341</integer>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Rozha One</string>
	<key>openTypeHeadCreated</key>
	<string>2014/07/05 16:13:55</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Rozha One</string>
	<key>openTypeNameDescription</key>
	<string>Copyright (c) 2011 by . All rights reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Tim Donaldson</string>
	<key>openTypeNameDesignerURL</key>
	<string>www.thesuburbs.co.nz</string>
	<key>openTypeNameManufacturer</key>
	<string>Tim Donaldson</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Rozha One</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeNameUniqueID</key>
	<string>TimDonaldson: Chic Devanagri Bold: 2011</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.000</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>477</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>15</integer>
		<integer>31</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>38</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>pyrs</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.0396</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFontName</key>
	<string>RozhaOne-Regular</string>
	<key>postscriptForceBold</key>
	<true/>
	<key>postscriptFullName</key>
	<string>Rozha One</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptSlantAngle</key>
	<real>0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>109</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>135</integer>
	</array>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Chic Devanagri Bold is a trademark of Tim Donaldson.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>540</integer>
	<key>year</key>
	<integer>2011</integer>
</dict>
</plist>
